main {
    display: grid;
    grid-template-rows: auto 2px auto 1fr;
    gap: 10px;
}

.post-summary {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 30px 60px;
    grid-template-areas:
        'image name'
        'image bio';
    row-gap: 5px;
    column-gap: 20px;
    background: var(--offset-color);
    box-shadow: var(--box-shadow);
}

#post-name {
    grid-area: name;
    margin: 0;
    align-self: center;
}

#post-image {
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#post-bio {
    grid-area: bio;
    margin: 0;
}

#add-comment-form {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: end;
    box-sizing: border-box;
    width: 70%;
    margin: 0px auto 0px auto;
}

#add-comment-form input {
    height: 45px;
}

#comment-list li {
    background: rgb(255, 255, 255);
    background-image: linear-gradient(
        to right,
        rgba(0, 43, 100, 1),
        rgba(0, 43, 100, 0.5),
        rgba(0, 43, 100, 0.5)
    );
    padding: 20px 25px;
    border-bottom: 1px solid var(--placeholder-color);
    margin: 10px;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    width: 70%;
    margin: 10px auto 10px auto;
    box-shadow: 0px 0px 10px 0px white;
}

.single-post {
    display: grid;
    grid-template-columns: 30% 55% 1fr;
}
.post-container {
    width: 80%;
    margin: auto;
    margin-top: 0;
    border: 1px solid black;
    padding: 40px;
    background-image: linear-gradient(black, white, white, black);
    border-top: 1px solid rgb(132, 132, 132);
    border-right: 1px solid rgb(45, 45, 45);
    border-bottom: 1px solid rgb(45, 45, 45);
    border-left: 1px solid rgb(132, 132, 132);
    box-shadow: 2px 2px 20px 0px white;
}
.image-size {
    border: 2px solid black;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
}

.image-center {
    margin: 0px auto 0px auto;
}

.description {
    color: white;
    background-color: rgba(0, 43, 100, 1);
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px white;
    text-align: left;
    width: 80%;
    min-width: 100px;
}
